
.home-container{
    background-color: var(--color-bg) ;
    color: var(--color-text);
}
.home-details
{
    @apply flex py-28 pl-14 pr-48 mx-auto max-w-7xl justify-between ;
    /* py-10 flex flex-col items-start; */
}
.portfolio-name{
    @apply text-7xl tracking-normal font-medium;
    line-height: 7.5rem;
}

.home-content .job-roles
{
    @apply text-3xl ;
    line-height: 4.5rem;
}

.job-names
{
    color: var(--color-accent);
}
 


.profile-img
{
    @apply w-64;
}

.click-btn
{
    @apply flex py-8
}

.work-btn
{
    @apply ml-0 px-4 py-4
}

.hire-btn
{
  @apply px-4 py-4
}  