@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --color-bg:#0d1117;
    --color-navbar-bg:#1e1e1e;
    --color-accent: #4ca3ed;
    --color-text:#ffffff;
    --font-main:'Inter',sans-serif;
    --font-heading:'Space Grotesk' ,Geometric sans-serif;
}

.btn-primary
{
    background-color: var(--color-accent);
    @apply px-2.5  py-2.5 tracking-wide rounded-lg
}