@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --color-bg:#0d1117;
    --color-navbar-bg:#2b2a2a;
    --color-accent: #4ca3ed;
    --color-text:#ffffff;
    --font-main:'Inter',sans-serif;
    --font-heading:'Space Grotesk' ,Geometric sans-serif;
}
 .body-container
{
    background-color: var(--color-bg);
    color: var(--color-text);
}

.btn-primary
{
    background-color: var(--color-accent);
    @apply px-2.5  py-2.5 tracking-wide rounded-lg
}
.section-heading
{
    @apply text-4xl ;
}

.btn-primary
{
    @apply ml-6 
}